*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml
.idea/vcs.xml
.idea/modules.xml
build.gradle
gradle.properties
gradle.properties
gradle.properties
gradle.properties
gradle.properties
